[submodule ".registry"]
	path = .registry
	url = https://github.com/idem-lab/idem-lab.r-universe.dev
	branch = HEAD
[submodule "conmat"]
	path = conmat
	url = https://github.com/idem-lab/conmat
[submodule "sdmtools"]
	path = sdmtools
	url = https://github.com/idem-lab/sdmtools
[submodule "traveltime"]
	path = traveltime
	url = https://github.com/idem-lab/traveltime
