[submodule ".registry"]
	path = .registry
	url = https://github.com/idem-lab/idem-lab.r-universe.dev
	branch = HEAD
[submodule "conmat"]
	path = conmat
	url = https://github.com/idem-lab/conmat
[submodule "idpalette"]
	path = idpalette
	url = https://github.com/idem-lab/idpalette
[submodule "multispeciesPP"]
	path = multispeciesPP
	url = https://github.com/wfithian/multispeciesPP
	registered = false
[submodule "sdmtools"]
	path = sdmtools
	url = https://github.com/idem-lab/sdmtools
[submodule "traveltime"]
	path = traveltime
	url = https://github.com/idem-lab/traveltime
